* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}
@font-face {
  font-family: Poppins-Regular;
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: Raleway-Regular;
  src: url(./fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: Tinos-Regular;
  src: url(./fonts/Tinos/Tinos-Regular.ttf);
}
.container {
  width: 1100px;
  margin: auto;
}
.header {
  padding: 70px 0;
}
.navbar {
  padding: 5px;
  background-color: white;
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 20px;
  z-index: 1;
  font-family: Poppins-Regular;
}
.navbar .links a {
  display: inline-block;
  font-size: 14px;
  color: black;
  margin-left: 5px;
  padding: 10px 20px;
  border-radius: 133px;
  transition: 0.5s ease;
}
.navbar .links a:hover {
  color: white;
  background-color: rgba(63, 167, 47, 1);
}
.activ {
  color: rgba(255, 138, 0, 1) !important;
}
.login {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.login a {
  display: inline-block;
  color: white;
  font-size: 14px;
  padding: 10px 25px;
  border-radius: 133px;
  font-weight: 600;
  background-color: rgba(63, 167, 47, 1);
}
/* navbar end */

.header-boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding: 70px 0 30px;
}
.header-info {
  width: 45%;
}
.header-info .header-little-title {
  font-family: Raleway-Regular;
  color: rgba(255, 138, 0, 1);
  font-size: 18px;
  background-color: rgba(255, 138, 0, 0.2);
  border-radius: 126px;
  padding: 10px 30px;
  display: inline-block;
}
.header-info .header-title {
  font-size: 80px;
  line-height: 88px;
  font-family: Raleway-Regular;
  font-weight: 700;
  margin: 20px 0 30px;
}
.header-info .header-description {
  font-size: 20px;
  font-family: Poppins-Regular;
  line-height: 40px;
  margin-bottom: 70px;
}
.btn {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins-Regular;
  color: white;
  text-align: center;
  width: 200px;
  padding: 15px;
  border-radius: 163px;
  margin-right: 20px;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.orange-btn {
  border: 2px solid rgba(255, 138, 0, 1);
  background-color: rgba(255, 138, 0, 1);
}
.orange-btn:hover {
  background-color: white;
  color: rgba(255, 138, 0, 1);
}
.green-btn:hover {
  background-color: white;
  color: rgba(63, 167, 47, 1);
}
.green-btn {
  border: 2px solid rgba(63, 167, 47, 1);
  background-color: rgba(63, 167, 47, 1);
}
.header-image {
  width: 54%;
}
.header-image img {
  width: 100%;
}
/* header end */

.section1 {
  background-color: rgba(63, 198, 110, 0.1);
}

.section1 .container {
  padding: 70px 0;
  display: grid;
  grid-template-columns: 54% 45%;
  justify-content: space-between;
  align-items: center;
}
.section1-image img {
  width: 100%;
}
.section-title {
  font-size: 80px;
  line-height: 88px;
  font-weight: 700;
  font-family: Tinos-Regular;
  color: rgba(49, 31, 9, 1);
}
.section-title span {
  color: rgba(255, 138, 0, 1);
}
.section-description {
  font-size: 20px;
  line-height: 40px;
  margin: 30px 0 70px;
  color: rgba(92, 69, 41, 1);
  font-family: Poppins-Regular;
}
/* section1 end */

.section2 {
  font-family: Poppins-Regular;
  padding: 70px 0;
  text-align: center;
}
.section2 .links {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  justify-content: space-between;
}
.section2 .links a:first-child {
  background-color: rgba(49, 31, 9, 1);
  color: white;
  font-weight: 600;
  width: 200px;
}
.section2 .links a {
  display: inline-block;
  background-color: rgba(208, 204, 199, 0.1);
  color: black;
  font-size: 20px;
  line-height: 40px;
  padding: 7px 10px;
  border-radius: 163px;
}
.eat-boxes {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  gap: 25px;
}
.eat-boxes .box {
  background-color: rgba(87, 103, 118, 0.04);
  border-radius: 70px;
  padding: 30px 20px;
  transition: 0.5s ease;
}
.eat-boxes .box:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.eat-boxes .box img:first-child {
  width: 100%;
}
.eat-name {
  font-size: 30px;
  line-height: 60px;
}
.eat-description {
  color: rgba(89, 68, 43, 1);
  font-size: 14px;
  line-height: 28px;
}
.price {
  width: 70%;
  margin: 15px auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
}
.price a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: rgba(255, 138, 0, 1);
  border-radius: 163px;
  padding: 10px 20px;
}
.price p {
  font-size: 25px;
  line-height: 38px;
  font-weight: 600;
}
.arrow {
  margin: 50px 0;
}
/* section2 end */

.section3 {
  padding: 70px 0;

  background-color: rgba(255, 244, 231, 0.4);
}
.reservation {
  background: url(./images/reservimg2.png) no-repeat;
  background-size: contain;
}
.reservation .container {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 54% 45%;
  justify-content: space-between;
}
.section3-image {
  position: relative;
}
.section3-image img {
  position: absolute;
  width: 140px;
}
.img1 {
  top: -50px;
  right: 170px;
}
.img2 {
  left: -75px;
  bottom: -85px;
}
/* section3 end */

.section4 {
  padding: 70px 0;
  text-align: center;
}
.chef-boxes {
  font-family: Poppins-Regular;
  margin: 70px 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}
.chef {
  border-radius: 56px;
  overflow: hidden;
  transition: 0.5s ease;
}
.chef:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  > img {
    transform: scale(1.1);
  }
}

.chef img {
  width: 100%;
  transition: 0.5s ease;
}
.chef-name {
  font-size: 25px;
  line-height: 50px;
  font-weight: 600;
  margin: 20px 0;
  color: rgba(49, 31, 9, 1);
}
.chef-position {
  font-size: 25px;
  line-height: 50px;
  margin: 20px 0;
  color: rgba(160, 141, 118, 1);
}
/* section4 end */

.section5 {
  background: rgba(208, 204, 199, 0.1) url(./images/rounds.png) no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 70px 0;
}
.section5 .container {
  padding: 50px 0;
}
.user-comment {
  font-family: Poppins-Regular;
  width: 50%;
  margin: 50px auto;
  padding: 30px 0;
}
.user-name {
  font-size: 30px;
  line-height: 60px;
  font-weight: 600;
  color: rgba(49, 31, 9, 1);
}

.user-position,
.user-description {
  font-size: 20px;
  line-height: 40px;
  color: rgba(92, 69, 41, 1);
}
.user-position {
  margin-bottom: 15px;
}
